@model MvcOnlineTicariOtomasyon.Models.Siniflar.Departman
@{
    ViewBag.Title = "Departman Güncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="display-4">
            @ViewBag.Title
        </div>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("DepartmanGuncelle", "Departman", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false)
            @Html.HiddenFor(model => model.DepartmanId)
            @Html.HiddenFor(model => model.DepartmanId)
            @Html.LabelFor(x => x.DepartmanAd)
            @Html.TextBoxFor(x => x.DepartmanAd, new { @class = "form-control" }) <br />
            <button type="submit" class="btn btn-outline-success" title="Güncelle"><i class="fa fa-edit mr-2"></i>Güncelle</button>
            <a href="/Departman/Index" class="btn btn-outline-danger" title="İptal"><i class="fa fa-angle-double-left mr-2"></i>İptal</a>
        }
    </div>
</div>

